body{
   
     background-color: white;
}
h2{
    background-color: rgb(127, 252, 69);
}
.button{
    background-color: blue;
    color: black;
}
.button:hover{
    background-color: red;
}
