body{
   
     background-color: white;
}
h2{
    background-color: rgb(127, 252, 69);
}
.button{
    background-color: blue;
    color: white;
   border-radius:2px;
   padding:2px;
}
.button:hover{
    background-color: red;
}
.image{
  display: inline-flex;
}
  .image-container{
    display:inline-block;
  }

 .btn{
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(30, 219, 46);
    color: white;
    cursor: pointer;
  }
  .btn:active{
    background-color: rgb(233, 21, 21);
  }
